{%load static %}

{% static "images" as baseUrl%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Krishnendu Manna</title>
    <link rel="icon" type="image/x-icon" href="{% static 'Favicon.ico' %}">
</head>

<body>

    <header>
        <nav>
            <div class="nav-left">
                <div class="web-name">
                    <a href="#">KRISHNENDU MANNA</a>
                </div>
            </div>
            <button class="nav-toggle" aria-label="toggle navigation" aria-expanded="false">
                <span class="hamburger"></span>
            </button>
            <div class="nav-right">
                <ul>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#internships">Internships</a></li>
                    <li><a href="{% url 'certificate' %}">Certificates</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#skills">My Skills</a></li>
                    <li><a href="#about-me">About Me</a></li>
                    <li><a href="#contact-me">Contact Me</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero-section" id="hero">
            <div class="hero-content-grid">
                <div class="left-grid">
                    <p class="intro-text">Hello, I'm</p>
                    <h1>KRISHNENDU MANNA</h1>
                    <p class="tagline">
                        A passionate and driven computer science student with a strong foundation
                        in programming and a keen interest in web development. I am eager to learn
                        and contribute to innovative projects.
                    </p>
                    <div class="social-links">
                        <a href="https://github.com/krishnendu02" target="_blank" class="social-button">
                            Github
                        </a><br>
                        <a href="http://www.linkedin.com/in/krishnendu-manna-409410218" target="_blank"
                            class="social-button">
                            LinkedIn
                        </a>
                    </div>
                </div>
                <div class="right-grid">
                    <img src="{% static 'My Image.jpg'%}" alt="Krishnendu Manna - Profile Picture">
                </div>
            </div>
        </section>

        <section class="projects-section" id="projects">
            <div class="container">
                <div class="heading">
                    <h2>My Projects</h2>
                </div>
                <div class="project-list">
                    <div class="project-item card">
                        <div class="card-body">
                            <h3>Resume Now</h3>
                            <p>A Resume builder</p>
                            <a href="https://github.com/krishnendu02/resume-now" target="_blank" class="btn">View
                                Project</a>
                        </div>
                    </div>
                    <div class="project-item card">
                        <div class="card-body">
                            <h3>Portfolio</h3>
                            <p>My portfolio. This Website.</p>
                            <a href="#" class="btn">View Project</a>
                        </div>
                    </div>
                    <div class="project-item card">
                        <div class="card-body">
                            <h3>Mat-Calculation</h3>
                            <p>Under Production . . .</p>
                            <a class="btn disabled">Link (Soon)</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="view-more">
                    <a href="#projects" class="btn">View More Projects</a>
                </div> -->
            </div>
        </section>

        <!-- Internship Section -->
        <section class="certificates-page-section" id="internships">
            <div class="container">
                <div class="heading">
                    <h2>My Internships</h2>
                </div>
                <div class="certificate-list"> <!-- Use certificate-list for grid -->

                    <!-- Deloitte Australia Technology Job Simulation on Forage - June 2025 -->
                    <div class="card certificate-item">
                        <img class="work-popup-img"
                            src="{% static 'internship pics\Delloite Technology Job Simulation - Coding.jpg' %}"
                            alt="Deloitte Australia Technology Job Simulation on Forage - June 2025">
                        <div class="card-body">
                            <h3>Deloitte Australia Technology Job Simulation on Forage - June 2025</h3>
                            <p>Completed a job simulation involving development and coding; Wrote a proposal for creating a dashboard.</p>
                            <!-- <a href="https://www.credly.com/badges/06f9f713-2c9e-4c4f-8138-047a5516a129/public_url"
                                target="_blank" class="btn">View Certificate</a> -->
                        </div>
                    </div>

                    <!-- Deloitte Australia Cyber Job Simulation on Forage - June 2025 -->
                    <div class="card certificate-item">
                        <img class="work-popup-img" src="{% static 'internship pics\Delloite Technology Job Simulation - Cyber.jpg' %}"
                            alt="Deloitte Australia Cyber Job Simulation on Forage - June 2025">
                        <div class="card-body">
                            <h3>Deloitte Australia Cyber Job Simulation on Forage - June 2025</h3>
                            <p>Completed a job simulation involving reading web activity logs; Supported a client in a cyber security reach; Answered questions to identify suspicious user activity.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>



        <!-- Certificate Section -->
        <section class="certificates-section" id="certificates">
            <div class="container">
                <div class="heading">
                    <h2>My Certificates</h2>
                </div>


                <div class="certificate-list">

                    {% for cert in certs %}
                    <div class="certificate-item card">
                        <div class="card-body">
                            <h3>{{cert.name}}</h3>
                            <p>{{cert.desc}}</p>
                            <a href={{cert.link}}
                                target="_blank" class="btn">View Certificate</a>
                        </div>
                    </div>
                    {%endfor%}
                </div>



                <div class="view-more">
                    <a href="{% url 'certificate' %}" class="btn">View All Certificates</a>
                </div>
            </div>
        </section>

        <section class="education-skills-section">
            <div class="container">
                <div class="education-skills-grid">
                    <div class="education-content" id="education">
                        <div class="heading">
                            <h2>Education</h2>
                        </div>
                        <p>
                            <b>Pailan College of Management & Technology</b><br>
                            09/2021 - Pursuing <br>
                            B.Tech in Computer Science & Engineering <br>
                            CGPA - 8.39 (Average). <br><br>

                            <b>Jodhpur Park Boys School</b><br>
                            05/2018 - 05/2020 <br>
                            Pure Science (Including Mathematics) <br>
                            Percentage - 85%
                        </p>
                    </div>

                    <div class="skills-content" id="skills">
                        <div class="heading">
                            <h2>My Skills</h2>
                        </div>
                        <div class="skill-parent">
                            <ul class="skills-list">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>Python</li>
                                <li>MySQL</li>
                                <li>MongoDB</li>
                            </ul>
                            <ul class="skills-list">
                                <!-- <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>Python</li>
                                <li>MySQL</li>
                                <li>MongoDB</li> -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="about-me-section" id="about-me">
            <div class="container">
                <div class="heading">
                    <h2>About Me</h2>
                </div>
                <p>
                    I am a highly motivated and results-oriented computer science student passionate about software
                    development. I am currently pursuing a B.Tech in Computer Science & Engineering at Pailan College of
                    Management & Technology, where I maintain an average CGPA of 8.39. My academic journey has equipped
                    me
                    with a strong foundation in various programming languages and technologies.
                    <br><br>
                    I have a solid understanding of HTML, CSS, and JavaScript, enabling me to build responsive and
                    engaging
                    web interfaces. My proficiency extends to back-end development with Python and database management
                    using
                    MySQL and MongoDB. I am always eager to expand my skillset and am currently nearing the completion
                    of
                    several online courses to deepen my knowledge in key areas of web development.
                    <br><br>
                    Beyond academics, I am a proactive learner who enjoys tackling challenges and collaborating on
                    projects.
                    I am a quick study and am adept at picking up new technologies and concepts rapidly. I am actively
                    seeking opportunities to apply my skills in real-world scenarios and contribute to innovative
                    projects.
                    My goal is to become a well-rounded software engineer capable of developing robust and scalable
                    solutions. I am a team player with excellent communication skills, and I am confident in my ability
                    to
                    make a positive contribution to any development team.
                </p>
            </div>
        </section>

        <section class="contact-me-section" id="contact-me">
            <div class="container">
                <div class="heading">
                    <h2>Contact Me</h2>
                </div>
                <form action="https://api.web3forms.com/submit" method="POST" class="contact-form" netlify>
                    <input type="hidden" name="access_key" value="4b7231b4-e1f5-4650-9dec-eeb4353435c0">
                    <input type="hidden" name="subject" value="Contacting from Portfolio Website">
                    <input type="hidden" name="from_name" value="Portfolio Visitor">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="tel" id="phone" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn">Send Message</button>
                </form>
            </div>
        </section>
    </main>
    <div id="imageModal" class="modal">
        <span class="close-modal">&times;</span>
        <img class="modal-content" id="modalImage">
        <div id="caption"></div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>